/* transaction.module.css */

.container {
  width: 100%;
  margin-top: 1rem;
  overflow-x: auto; /* Allow horizontal scrolling */
}
.flex {
  display: flex;
}

.tableContainer {
  display: flex;
  justify-content: left;

  width: 100%;
  height: 100%;
  overflow: auto; 
}
.transaction {
  width: 100%; /* Add horizontal scroll */
}

.table {
  width: 100%; /* Minimum width for the table */
  text-align: left; /* Left align content */
  white-space: nowrap; /* Prevent wrapping */
}

.tableHead {
  background-color: #4a5568; /* gray-700 */
  color: rgb(255, 255, 255); /* white/60 */
  font-weight: 600;
  position: sticky;
  top: 0; /* Sticky header */
  z-index: 1; /* Ensure header is above content */
}

.tableRowOdd {
  background-color: #2d3748; /* gray-800 */
}

.tableRowEven {
  background-color: #4a5568; /* gray-700 */
}

.tableCell {
  padding: 0.5rem; /* Similar to Tailwind 'p-2' */
}

@media (max-width: 640px) {
  .container {
    overflow-x: scroll;

  }

  .tableContainer {
    justify-content: left;
  }

  .table {
    width: auto; /* Allow table to adjust to content */
    min-width: 100%; /* Ensure it fills the screen */
  }

  .tableCell:first-child {
    min-width: 150px; /* Ensure transaction hash is visible */
  }

  .tableCell {
    text-align: left; /* Align text to the left */
  }
}

.underlineButton {
  text-decoration: underline;
  color: #ffffff; /* blue-500 */
  background: none;
  border: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.noEvents {
  color: #fff;
}
.filterControls {
  margin-bottom: 1rem;
  gap: 1rem; /* Adds space between elements */
  align-items: center;
}

.button {
  padding: 0.6rem 1.2rem; /* Slightly larger padding for better appearance */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid transparent; /* Default border */
  background-color: #f0f0f0; /* Light gray background for the default state */
  color: #333; /* Darker text color for contrast */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

/* Active button style */
.activeButton {
  background-color: #007bff; /* Primary blue color */
  color: white;
  width: 140px;
  height: 45px;
    border: 1px solid #007bff;
}

.activeButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
  
  color: white;
}

/* Inactive button style */
.inactiveButton {
  background-color: #e0e0e0; /* Light gray background */
  color: #333; /* Darker text color */
  width: 140px;
  height: 45px;
  border: 1px solid #ccc; /* Light gray border */
}

.inactiveButton:hover {
  background-color: #d0d0d0; /* Slightly darker gray on hover */
  border-color: #b0b0b0; /* Darker border on hover */
  color: #333; /* Ensure text color remains readable */
}

/* Add a class for the select element */
.customSelect {
  padding: 0.6rem 1rem; /* Adds padding for more space inside the dropdown */
  border-radius: 5px; /* Rounded corners for a modern look */
  border: 1px solid #ccc; /* Light gray border */
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Darker text color for contrast */
  font-size: 1rem; /* Text size */
  cursor: pointer; /* Pointer cursor to indicate interactivity */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition on hover */
}

.customSelect:hover {
  background-color: #e9e9e9; /* Slightly darker background on hover */
  border-color: #bbb; /* Darker border on hover */
}

.customSelect:focus {
  outline: none; /* Removes default browser outline */
  border-color: #007bff; /* Blue border when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle blue shadow to indicate focus */
}

.customSelect option {
  padding: 0.5rem; /* Adds padding inside options */
  background-color: #fff; /* White background for options */
  color: #333; /* Dark text for visibility */
}

.customSelect option:disabled {
  color: #888; /* Gray text for disabled options */
}


