.heroSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.heroSectionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.heroSectionContentText {
  flex: 1;
  padding: 20px;
}

.heroSectionContentImage {
  flex: 1;
  padding: 20px;
}
