.nftCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.04);
    transition: background-color 0.3s ease-in-out;
    height: 300px;
    width: 275px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(207, 201, 201, 0.764);
  }
  .threejsContainer {
    width: 105;
    height: 300px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.04);
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px; /* Added margin to separate from the upload button */
    z-index: 1020;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(207, 201, 201, 0.764);

  }
  
  .ProfileButton {
    top: 1px;
    right: 1px; 
    position: absolute;
    width: 45px; /* Smaller width for the button */
    height: 45px; /* Smaller height for the button */
    padding: 5px; /* Temporarily, to visualize their space */
  }
  
  .burnIcon, .loadingIcon {
    width: 4px; /* Adjusted size of the icons */
    height: 4px; /* Adjusted size of the icons */
  }
  
  .ProfileButton img {
    width: 100%; /* Ensures the image covers the button area */
    height: auto; /* Maintains aspect ratio */
  }
  
  .topRightCornerId {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #272625da;
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: none;
    border-radius: 1px;
    font-size: 24px;
    z-index: 1000;  
  }
  
  .nftNameMain {
    position: absolute;
    background-color: #272625da;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: none;
    border-radius: 1px;
    font-size: 24px;
    z-index: 1000;  
  }
  
  .nftImageContainer {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.105);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nftImage {
    max-width: 100%;
    max-height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .nftTokenId {
    font-size: 12px;
    color: #fff;
    margin: 0px;
    margin-top: 12px;
  }
  
  .nftName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    color: #fff;
    font-family: inherit;
    vertical-align: inherit;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 12px;
    margin-top: 4px;
  }
  
  .priceContainer {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.105);
    min-height: 52px;
  }
  
  .nftPriceContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .nftPriceLabel {
    margin: 0px;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    max-width: 100%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
  }
  
  .nftPriceValue {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    font-family: inherit;
    vertical-align: inherit;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #fff;
  }
  
  .legend {
    color: rgb(255, 255, 255);
    margin: 0px;
    margin-bottom: 8px;
  }
  
  .input {
    display: block;
    width: 98%;
    padding: 12px 16px;
    margin-bottom: 0.5rem;
    background: transparent;
    border: none;
    font-size: 16px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.884);
    border-radius: 8px;
    margin-bottom: 16px;
    margin-left: 2px;
  }
  
  .formSectionTitle {
    margin-top: 24px;
    margin-bottom: 8px;
    color: #FFFFFF; 
  }
  .tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabs button {
    background-color:   #f75454;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 80px;
    width: 180px;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .tabs button.activeTab {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }